@use '../components/utils/index.scss' as *;

.footerBlock {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.goBack {
  color: $coolGray;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    color: $lightGray;
  }
}
